body{
  
    margin: 0px;
    padding: 0px;
}
header h1{
  margin: 0px;
}

.card2{

    
    width: 1000px;
    height: auto;
    background-color: white;
    color: black;
    padding: 25px;
    border: 5px solid lightseagreen;
    border-left: 0px;
    border-right: 0px;
    margin: 300px 300px 300px 300px;
}

.card{
    float: right;
    width: 300px;
    height: auto;
    background-color: gray;
    color: black;
    padding: 0px;
    border: 5px solid lightseagreen;
    border-left: 0px;
    border-right: 0px;
    margin-top: -1350px;
    margin-right: 10px;
}

  

h3{
    display: inline;
    color: lightseagreen;
    
}
h3:hover{
    color: black;
    cursor: pointer;
}


body{
    
  background-color: #ecf0f1;
  padding: 50px;
  color: #2c3e50;

}
h2 {
  font-size: 40px;
  color: lightseagreen;
}
h2::after{
    content: 'TOP';
    background-color: yellow;
    color: black;
    position: absolute;
    right: 100px;
    top: 470px;
    font-size: 25px;

}

.container {
  border: 5px solid #2c3e50;
  padding: 10px;
  margin-top: 50px;
}

.box {
  padding: 25px;
  margin: 10px;
  font-size: 50px;
  font-weight: bold;
  background-color: #e74c3c;
  color: white;
}
article header h2{
  color: lightseagreen;
}
header{
  background-color: #e74c3c;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: lightseagreen;
}
nav a{
  color: lightseagreen;
  padding-right: 10px ;
}
 button{
  top: 500px;
  right: 100px;
}
